.input-group{
    margin-top:30px;
}

.form-div{
    width:400px;
    background-color: rgb(126, 184, 134);
    color:rgb(248, 252, 250);
    padding: 20px;
    border-radius: 50px 0;
}
.signup-info{
    width:max-content;
    background-color: rgb(37, 37, 37);
    color:rgb(241, 241, 241);
    font-weight:400;
    border-radius: 30px;
    position: absolute;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin:auto;
    animation-name:slidedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    
}
@keyframes slidedown{
    0% {top:-10%}
    100% {top:1%}
}
.re{
    min-height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.219)),url("../Assets/pexels-lumn-1028598.jpg");
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.form-parent{
    display:flex;
    justify-content: center;
}
.formflex{
    display: flex;
    align-items:center;
    flex-direction: row;
    gap:2px;
    margin-top:10px;
    position: relative;
}
.icon{
    height:30px;
    width:25px;
}
.passbtn{
    position: absolute;
    right:0%;
    background: transparent;
    border: none;
    padding: 10px;
}
.link{
    color:green;
}
@media screen and (max-width:500px)
{
   .form-div,.signup-info{
       width:80%;
   }
   .input-group{
    margin-top:10px;
}

  
}